@model CheeseMVC3.ViewModels.AddCheeseViewModel

<h1>@ViewBag.title</h1>

<form asp-controller="Cheese" asp-action="Add" method="post">

    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name">
        <span asp-validation-for="Name"></span>    <!--Display Error message-->
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description">
        <span asp-validation-for="Description"></span>  <!--Display Error message-->
    </div>

    <div class="form-group">
        <label asp-for="Taste"></label>
        <input class="form-control" asp-for="Taste">
        <span asp-validation-for="Taste"></span>  <!--Display Error message-->
    </div>

    <div class="form-group">
        <label asp-for="Type"></label>
        <select asp-for="Type" asp-items="Model.CheeseTypes "></select>
        <span asp-validation-for="Type"></span>  <!--Display Error message-->
    </div>

    <input type="submit" value="Add Cheese" />
</form>

<p><a asp-controller="Cheese" asp-action="Index">List of Cheeses</a></p>
<p><a asp-controller="Cheese" asp-action="Remove">Remove Cheese</a></p>