@model CheeseMVC3.ViewModel.AddCheeseViewModel

<style>
    .error{
       color:red;
    }
</style>

<h1>@ViewBag.title</h1>

<form asp-controller="Cheese" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span class="error" asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description" />
        <span class="error" asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="Taste"></label>
        <input class="form-control" asp-for="Taste" />
        <span class="error" asp-validation-for="Taste"></span>
    </div>.
    <div class="form-group">
        <label asp-for="Type">Type</label>
        <select  asp-for="Type" asp-items="Model.CheeseTypes"></select>
    </div>
    
    
    <input type="submit" value="Add Cheese" />

</form>
<p></p>
<p><a asp-controller="Cheese" asp-action="Index">List of Cheeses</a></p>
<p><a asp-controller="Cheese" asp-action="Remove">Remove Cheese</a></p>